body{
    background-color: beige;
}
h1{
    color: darkblue;
    text-align: center;
}
p{
    font-family: Arial, sans-serif;
    font-size: 20px;
}
a{
    color: darkgreen;
    text-decoration: none;
}
a:hover {
    font-size: 20px;
}
.ridemenu {
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    border-width: thin;
    border-color: darkblue;
    width: 40%;
}
#ridesTable {
    text-align: center;
    border-style: thin;
    float: left;
    width: 40%;
  
}
#rideMap {
    background-color: darkblue;
    color: grey;
}
@media screen and (max-width: 600px) {
    .ridemenu {
        width: 100%;
    }
    #ridesTable {
        width: 100%;
    }
}